* {
  margin: 0;
  padding: 0;
  /* font-family: "productsans"; */
}
.custom-card {
  background: white;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid rgb(238, 227, 227);
  margin-bottom: 1rem;
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  margin: 0;
  visibility: hidden;
  left: 1px;
  top: 1px;
}
.checkbox label {
  font-size: 20px;
  line-height: 26px;
  padding-left: 35px;
  margin: 0;
  display: block;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease 0s;
}
.checkbox label:before,
.checkbox label:after {
  content: "";
  width: 20px;
  height: 18px;
  border: 1px solid #007bff;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  left: 3px;
  transition: all 0.25s;
}
.checkbox label:after {
  height: 10px;
  width: 16px;
  border-radius: 0 0 0 4px;
  border: 3px solid #007bff;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
  top: 15px;
  left: 6px;
}
.checkbox input[type="checkbox"]:checked + label {
  font-weight: 600;
}
.checkbox input[type="checkbox"]:checked + label:before {
  opacity: 0;
  top: -10px;
}
.checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
  top: 6px;
}
body::-webkit-scrollbar {
  display: none;
}

a {
  cursor: pointer;
}
